[user]
	name = Peter J. Holzer
	email = hjp@wsr.ac.at
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[push]
        # 1.7.1:  nothing, matching, tracking, current
        # 2.11.0: nothing, matching, upstream, current, simple
        # nothing is inconvenietn, matching is dangerous. 
        # current is only compatible remaining option.
	default = current
